@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

* {
    box-sizing: border-box;
}
body {
    font-size: 0px;
    margin: 0px;
}
section {
    display: block;
    position: absolute;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}
.one {
    background-image: linear-gradient(to right,
     rgba(24,90,157,255), rgba(67,205,162,255));
}
.two {
    background-image: linear-gradient(to right,
    rgba(159,47,114,255), rgba(211,130,18,255) );
}
img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 33%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    box-shadow: inset 10px 10px 20px black;
}
.link {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
