* {
    box-sizing: border-box;
}
body {
    background-color: #eee;
    padding: 5rem;
    flex-wrap: wrap;
    display: flex;
}
header, main, aside, footer {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.4rem;
    color: #000;
    border: 2px solid gray;
    margin-bottom: 20px;
}
header {
    flex-basis: 100%;    
}
div {
    display: flex;
    width: 100%;
    gap: 20px;
}
main {
    flex: 8 1 40rem;
}
aside {
    flex: 2 1 20rem;
}
footer {
    flex-basis: 100%;
}
