* { box-sizing: border-box;}
html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
div {
    display: flex;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
    align-content: center;
    border: 1px dashed red;
    flex: 1 1 auto;
}
span {
    border: 1px solid black;
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}
span:nth-child(1){
    background-color: red;
    order: -9;
}
span:nth-child(11){
    background-color: red;
    order: -10;
}